@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


canvas{
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Pixelify Sans", sans-serif;
}

.nav-bar {
    background-color: #2A0944;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
    padding: 5px;
    color: white;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #E2E2B6;
}

